#search {
    width: 100%;
    height: 80em;
    background-image: url("https://i.pinimg.com/1200x/55/0a/13/550a13cb7b83130a309c5171d57b6e9f.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
}

.title {
    color: rgb(7, 0, 0);
    text-align: center;
}

.title h1 {
    font-size: 3em;
    margin: 0;
}

.title p {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.title hr {
    width: 50em;
    max-width: 90vw;
    border: 1px solid rgb(109, 106, 106);
    margin: 3em auto;
    opacity: 0.5;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    border-radius: 1em;
    color: white;
    gap: 2em;
}

.form-container select,
.form-container input {
    box-sizing: border-box;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    width: 15em;
    height: 2.5em;
}

.form-container button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    background-color: #3569b8;
    color: white;
    cursor: pointer;
}

.car-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5em;
    align-content: center;
    padding: 2em 1em;
    align-items: start;
    max-width: 80rem;
    margin: 0 auto;
    background-color: rgb(229, 227, 215);
}

.car-list h2 {
    font-size: 2em;
    margin: 2em 0;
    grid-column: 1 / -1;
    text-align: center;
}

.car-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min(22rem, 100%);
}

.car-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
